body {
  font-family: Helvetica;
}

.checkout {
  display: flex;
  padding-block: 5vh;
  padding-inline: 5vw;
  justify-content: space-evenly;
}

.shopping-cart {
  min-width: 45%
}

.total {
  margin-top: 73px;
  min-width: 25%;
  height: 100%;
  border: 2px solid lightgray;
  font-size: 18px;
  position: relative;
}

.summary {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}

.summaryContainer {
  width: 100%;
}

.placeOnLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totalSum {
  font-size: 16px;
  padding-inline: 10px;
}

.totalSumRight {
  font-size: 16px;
  padding-inline: 10px;
}

.pay {
  color: white;
  background-color: black;
  border-width: 0;
  height: 50px;
  width: 100%;
  font-size: 24px;
  margin-top: 10px;
}

.discount {
  font-size: 16px;
  padding-inline: 10px;
  color: red;
}

.discountRight {
  font-size: 16px;
  padding-inline: 10px;
  right: 0;
  color: red;
}