.formBody {
    font-family: Helvetica;
    color: #333;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5%;
    padding-inline: 5vw;
}

select {
	display: block;
	margin: 0 auto 10px auto;
	border: 1px solid black;
	padding: 10px 5px;
	font-weight: bold;
	width: 90%;
}

h1 {
	font-weight: 700;
	color: #333;
}

form {
	text-align: center;
	border: 1px solid black;
	width: 100%;
	padding: 20px;
}

form input {
	display: block;
	margin: 0 auto 10px auto;
	border: 1px solid black;
	padding: 10px;
	font-weight: bold;
	width: 90%;
}

.read-only {
    outline: none;
    cursor: default;
    background-color: #eeeeee;
}

.input-font {
	font-weight: bold;
	color: black;
}

.check {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

input[type='checkbox'] {
    color: #333;
    margin: 0;
    margin-left: 10px;
    width: 20%;
    cursor: pointer;
}

input[type='text'] {
    width: 100%;
    margin-left: 100px;
    margin: 0px;
}

input[type='email'] {
    width: 100%;
    margin-left: 100px;
    margin: 0px;
}

.error-control {
    border: 1px solid red
}

.error-message {
    color: red;}

input.submit {
	width: 30%;
	background-color: black;
	color: white;
	margin-top: 20px;
}

input:invalid {
    border: 1px solid rgb(0, 0, 0);
} 
  
/* input:focus:invalid {
    box-shadow: none;
    border: 1px solid red;
} */

/* input.required {
    color: red;
    border: 1px solid red;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}