.item-container {
    margin-bottom: 20px;
}

.item {
    height: 125px;
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
}

.right-container {
    text-align: right;
}

.amount {
    font-size: 14px;
}

.amount label {
    padding-right: 10px;
}

.pItemHeader, .pItemPrice {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.itemText {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-container .itemText {
    align-items: flex-end;
}

.itemText button {
    width: fit-content;
    min-width: 0;

}

.quantity-nudge {
    color: red;
}

.upsell {
    display: flex;
    justify-content: space-between;
    border: 2px solid yellow;
}

.reducedPrice {
    margin-left: 5px;
    color: green;
}