.item {
    height: 125px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
}

.right-container {
    display: flex;
    text-align: right;
}

.amount {
    margin-top: 42px;
    font-size: 14px;
}

.amount label {
    padding-right: 10px;
}

.pItemHeader {
    font-weight: bold;
    font-size: 18px;
}

.pItemPrice {
    font-weight: bold;
    font-size: 18px;
    margin-top: 45px;
}

.itemText {
    margin: 10px;
}