body {
  font-family: Helvetica;
}

.checkout {
  display: flex;
  padding-block: 5vh;
  padding-inline: 5vw;
  justify-content: space-evenly;
}

.shopping-cart {
  min-width: 45%
}

.total {
  margin-top: 73px;
  min-width: 25%;
  height: 100%;
  border: 2px solid lightgray;
  font-size: 18px;
}

.summary {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}

.totalSum {
  text-align: center;
  font-size: 20px;
  margin-block: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.pay {
  color: white;
  background-color: black;
  border-width: 0;
  text-align: center;
  height: 50px;
  width: 100%;
  font-size: 24px;
}

.discount {
  padding: 30px;
  color: red;
}